@model PhotoSharingApplication.Models.Photo

@{
    ViewBag.Title = "Delete Photo";

    // 為什麼這裡沒有出現「版面配置頁」的寫法？例如 Layout = "~/Views/Shared/....."
    //
    // 因為在 /Views目錄下有一個 _ViewStart.cshtml 檔案，統一幫所有檢視畫面寫好了！
    // 這個檔案優先權很高。所有檢視頁面都會自動加上這檔案寫的「版面配置頁」。
    // 除非您在自己的檢視頁面上，設定自己「專屬的」Layout = "~/Views/Shared/....." 才能指定自己專用的Layout。

}

<h2>Delete Photo "@Model.Title"</h2>

<h3>Are you sure you want to delete this photo?</h3>

@if (Model.PhotoFile != null) {
    <div class="photo-display">
        <img width="400" src="@Url.Action("GetImage", "Photo", new { Model.PhotoID })" />
    </div>
}
 
<div>
    <div class="photo-description">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

<div class="photo-metadata">
    <div>
        <span class="display-label">
            Created By:
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </span>
    </div>

    <div>
        <span class="display-label">
                @Html.DisplayNameFor(model => model.CreatedDate):
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </span>
    </div>

    <div>
        <span class="display-label">
                @Html.DisplayNameFor(model => model.ModifiedDate):
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ModifiedDate)
        </span>
    </div>
</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
